---
import PlayListItemCard from "../components/PlayListItemCard.astro";
import Layout from "../layouts/Layout.astro";
import { playlists } from "../lib/data";
---

<Layout title="Spotify Clon">
    <div
        id="playlist-container"
        class="relative transition-all duration-1000 bg-zinc-500/30"
    >
        <div class="relative z-10 px-6 pt-10">
            <h1 class="text-4xl font-bold">Buscar</h1>
            <input
                type="text"
                class="w-full px-4 py-2 mt-4 text-lg text-black bg-white-500/50 rounded-lg"
                placeholder="Buscar"
            />
        </div>
        <div
            class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
        >
        </div>
    </div>
</Layout>

<style></style>
